<div class="page-header">
    <h1>Listing Details</h1>
</div>
<div>
    <div class="active row">
        <span>
            <span class="glyphicon glyphicon-ok"></span>Place Type
            <button type="button" class="btn btn-primary btn-lg">House</button>
            <button type="button" class="btn btn-primary btn-lg">Apartment</button>
        </span>
    </div>

    <div class="row">
        <span>
            <span class="glyphicon glyphicon-ok"></span>
            Bedrooms
            <div class="dropdown">
                <a class="btn btn-default" data-toggle="dropdown" href=""><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>3</a>
                    </li>
                    <li>
                        <a>4</a>
                    </li>
                </ul>
            </div>
        </span>
        <span>
            <span class="glyphicon glyphicon-ok"></span>
            Bathrooms
            <div class="dropdown">
                <a class="btn btn-default" data-toggle="dropdown" href=""><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>3</a>
                    </li>
                    <li>
                        <a>4</a>
                    </li>
                </ul>
            </div>
        </span>
    </div>

    <div class="row">
        <span>
            <span class="glyphicon glyphicon-ok"></span>
            <form name="myForm">
                Location <input type="text" name="userName" ng-model="user.name" required>
                <span class="error" ng-show="myForm.userName.$error.required">Required!</span><br>
            </form>
        </span>
    </div>

    <div class="row">
        <span>
            <span class="glyphicon glyphicon-ok"></span>Rent Length
            <div class="dropdown">
                <a class="btn btn-default" data-toggle="dropdown" href=""><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>3</a>
                    </li>
                    <li>
                        <a>4</a>
                    </li>
                </ul>
            </div>
        </span>
    </div>

</div>